.container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu-button {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.menu-button:hover {
  background: #ffffff;
}

.menu-icon {
  width: 35px;
  height: 3px;
  background-color: #b4b4b4;
  margin: 6px 0;
}
