.div--graph-historical-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.input--graph-historical-open-close-difference {
	width: 14em;
}

.div--graph-historical-hover-over-data-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ul--graph-historical-hover-over-data {
	margin: 0;
	height: 2em;
	text-wrap: nowrap;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
}

.ul--graph-historical-hover-over-data > * {
	width: 15em;
}

.div--graph-historical-data-sub-menu-wrapper > * {
	margin: 0.5em;
}

.div--graph-historical-data-sub-menu-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
