.select-columns {
  justify-content: center;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.select-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-group > * {
  padding: 0.5em;
}
