.div--select-columns {
  	justify-content: center;
	align-items: center;
 	border-top: 1px solid #dadada;
  	border-bottom: 1px solid #dadada;
}

.ul--select-group {
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.ul--select-group > * {
  	padding: 0.2em;
}
